
.third-button{
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  background: linear-gradient(to right,
          #87ceeb 20%,
          #87ceeb 30%,
          #2dd4bf 80%,
          #2dd4bf 90%
  );
  padding: 0.75em 1.25em;
  border-radius: 2em;
  border: none;
  &:hover{
    cursor: pointer;
  }
}


.fourth-button{
  color: white;
  text-transform: uppercase;
  font-size: 1em;
  background: linear-gradient(45deg, #4f46e5, #a855f7, #f72585);
  padding: 0.75em 1.25em;
  border-radius: 2em;
  border: none;
  &:hover{
    cursor: pointer;
  }
}

.profile-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  .box-of-boxes{
    display:flex;
    justify-content: center;
    flex: 1;
    .box{
      align-self: center;
      width: 20em;
      height: 10em;
      padding:10em;
      border-radius: 1em;
      box-shadow: 0 1px 2px rgba(0, 0, 0.2, 0.8);
    }
  }

}
.delete-box{
  .button {
    margin:0.5em;
  }
  padding: 1em;
  .no-button{
    color: black;
    text-transform: uppercase;
    font-size: 1em;
    background: white;
    padding: 0.75em 1.25em;
    border-radius: 1em;
    border:none;
    box-shadow: 0 1px 2px rgba(0, 0, 0.2, 0.8);

    &:hover{
      cursor: pointer;
    }
  }

  .yes-button{
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    background: red;
    padding: 0.75em 1.25em;
    border-radius: 1em;
    border: none;
    &:hover{
      cursor: pointer;
    }
  }
}

.hoverable {
  position: relative;
  display: inline-block;

  i, input {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover i,
  &:hover input {
    opacity: 1;
  }
}


